<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Predictor</title>
</head>
<body>
    <h1>College Predictor</h1>
    <form action="/predict" method="POST">
        <label for="rank">Rank:</label>
        <input type="number" name="rank" required><br><br>
        <label for="caste">Category:</label>
        <select name="caste" >
            <option value="">Any</option>
            <option value="EWS">EWS</option>
            <option value="OBC-NCL">OBC-NCL</option>
        </select><br><br>
        <label for="state">State:</label>
        <select name="state" >
            <option value="">Any State</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="West Bengal">West Bengal</option>
        </select><br><br>
        <label for="branch">Branch:</label>
        <select name="branch" >
            <option value="">Any Braches</option>
            <option value="Computer Science and Engineering (4 Years, Bachelor of Technology)">Computer Science and Engineering (4 Years, Bachelor of Technology)</option>
            <option value="Mining Engineering (4 Years, Bachelor of Technology)">Mining Engineering (4 Years, Bachelor of Technology)</option>
        </select><br><br>
        <label for="gender">Gender:</label>
        <select name="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
